<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>Hi from INDEX</h1>
<form class='form-control' action="/" method='GET'>
  <input type="text" name='date' placeholder="URL data">
  <input class='form-control' type="text" name='place' placeholder="PLace to go">
  <button>submit</button>
</form>
</body>
</html>
